.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: #0e1621;
}

.fileInput {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: #050a12;
  height: 100px;
  cursor: pointer;
}

.videoContainer {
  position: sticky;
}

.videoControls {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 8px 8px 8px;
  background-color: #0e1621;
}

.videoControlsRow {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
}

.videoControls button {
  flex: 1;
}

.statusBar {
  display: flex;
  background-color: #17212b;
}

.userSettings {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.myUsernameInput {
  display: flex;
  align-items: center;
  border-radius: 0;
  background-color: #17212b;
  border: none;
  color: white;
}

.myUsernameInput,
.myUsernameInput:focus,
.myUsernameInput:hover,
.myUsernameInput:not(:focus):hover,
.myUsernameInput::placeholder {
  background-color: #17212b!important;
  color: white;
}

.myUsernameInput .ant-input-show-count-suffix {
  color: white;
}

.statusBarInfo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  gap: 10px;
}

.statusBarConnectingState {
  font-size: 12px;
}

.statusBarInfoClientsQty {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: white;
}

.chat {
  padding: 16px 16px 70px 16px;
  background-color: #0e1621;
  overflow-y: auto;
  flex: 1;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  align-self: flex-end;
  margin-bottom: -6px;
}

.chatMessageBlock {
  display: flex;
  max-width: 70%;
}

.chatMessage {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #2b5278;
  color: #ffffff;
  padding: 6px 24px 6px 12px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
}

.chatMessageRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageBlockRight {
  align-self: flex-end;
}

.chatMessageRight {
  align-self: flex-end;
  text-align: right;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 16px;
}

.chatMessageRight::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -8px;
  border: 10px solid;
  border-color: transparent transparent #2b5278 transparent;
}

.chatMessageLeft {
  text-align: left;
  padding-right: 24px;
  padding-left: 12px;
  margin-left: 16px;
}

.chatMessageLeft::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -8px;
  border: 10px solid;
  border-color: transparent transparent #2b5278 transparent;
}

.chatMessageUsername {
  font-size: 10px;
  color: #ebebeb;
  font-weight: 600;
}

.chatMessageMessage {
  margin-bottom: 8px;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: break-spaces;
  text-align: left;
  text-wrap: wrap;
}

.chatMessageTimestamp {
  font-size: 9px;
  margin-right: -16px;
  align-self: flex-end;
  text-align: right;
  margin-left: 12px;
}

.chatTextAreaContainer {
  position: fixed!important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  user-select: none;
}

.chatTextAreaContainer textarea {
  position: relative;
  border-radius: 0;
  padding: 13px 90px 4px 20px;
  background-color: #17212b;
  color: white;
  outline: none;
  border: none;
}

.chatTextAreaContainer textarea:hover,
.chatTextAreaContainer textarea:focus,
.chatTextAreaContainer textarea::placeholder {
  background-color: #17212b;
  color: rgb(214, 214, 214);
  outline: none;
}

.sendButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  border-radius: 6px;
  top: 0px;
  right: 0px;
  z-index: 10;
  outline: none;
}

.sendButton:focus,
.sendButton:active {
  outline: none;
}

.sendButton svg path {
  fill: #5288c1;
}

.sendButton:hover svg path {
  fill: #3f77b2;
}
